.side
  .side-top
    .side-top__name test-name
    .side-top__icon
      =link_to "/#" do
        .i.fa.fa-edit
      =link_to '/#' do
        .i.fa.fa-cog
        
  .side-bottom
    .side-bottom__content
      .side-bottom__name test-group
      .side-bottom__text さようなら
    
    .side-bottom__content
      .side-bottom__name sample-group
      .side-bottom__text hello!
    
    .side-bottom__content
      .side-bottom__name example
      .side-bottom__text まだメッセージがありません
