.header グループを作成しました

.wrapper
  .side
    .side-top
      .side-top__name test-name
      .side-top__icon
        =link_to "/#" do
          .a.fa.fa-edit
        =link_to '/#' do
          .a.fa.fa-cog
          
    .side-bottom
      -#  ここ複数表示されるから部分テンプレにした方がよさそう
      .side-bottom__content
        .side-bottom__name test-group
        .side-bottom__text さようなら
      
      .side-bottom__content
        .side-bottom__name sample-group
        .side-bottom__text hello!
      
      .side-bottom__content
        .side-bottom__name example
        .side-bottom__text まだメッセージがありません

  .main
    .main-top test-group
    .main-center test-user
    .main-bottom type message


    