.side
  .side-top
    %h3.side-top__name
      = current_user.name
    .side-top__icon
      =link_to new_group_path do
        .i.fa.fa-edit
      =link_to edit_user_path(current_user) do
        .i.fa.fa-cog
        
  .side-bottom
    .side-bottom__content
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .side-bottom__name
            = group.name
          .side-bottom__message
            メッセージはまだありません。
