.side
  .side-top
    %h3.side-top__name
      = current_user.name
    .side-top__icon
      =link_to new_group_path do
        .i.fa.fa-edit
      =link_to edit_user_path(current_user) do
        .i.fa.fa-cog
        
  .side-bottom
    .side-bottom__content
      .side-bottom__name test-group
      .side-bottom__text さようなら
    
    .side-bottom__content
      .side-bottom__name sample-group
      .side-bottom__text hello!
    
    .side-bottom__content
      .side-bottom__name example
      .side-bottom__text まだメッセージがありません
